 .footer-text{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 9px;
	color:#777;
}
footer {
	margin-top: 60px;
	margin-bottom:30px;
	padding:5px;
	width:auto;
	text-align: center;
	background-color: #d8d8d8;
}
footer > div {
	display: inline-block;
	vertical-align: middle;
}