.navbar .divider-vertical {
	height: 59px;
	margin: 0 9px;
	/*border-right: 1px solid #ffffff;*/
	border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
	/*border-right-color: #222222;*/
	border-left-color: #111111;
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}

.header-text {
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
	margin-left: 11px;
}
.navbar-right{margin-right:10px;}
.navbar-right li{
	text-transform: uppercase;
	vertical-align: middle;
	height: inherit;
}

.navbar-right li.divider-vertical {
	border-color: #4d4c4d;
	height: 61px;
}

.navbar-default .navbar-nav > li > a {
	color: #4d4c4d;
}

.nav > li > a {
	padding: 20px;
}

.nav > li.dropdown > a {
	padding-right: 0px;
}

.navbar-header {
	padding-bottom: 5px;
}

.navbar {
	margin-bottom: 0;
	border-bottom: 3px solid #F6A623;
	height: 64px;
}

.navbar-default {
	background: rgb(216, 216, 216) none;
	color: #4d4c4d;
}

.navbar-default .navbar-brand {
	color: #4d4c4d;
}

.navbar-brand {
	margin:0;
	padding-top:9px;
}

.navbar-brand > img {
	display: inline-block;
}

#user-profile {
	text-transform: none;
}