#forgot-password-dialog .form-group {
    margin-bottom: 0px;
}

#forgot-password-dialog .modal-footer {
    padding-bottom: 82px;
}

/* mobile */
@media (max-width: 767px) {
    
    #forgot-password-dialog h4 {
        font-size: 24px;
        margin-bottom: 0px;
    }
}