.bilder-dropzone {
    width: 128px;
    height: 128px;
    background-color: white;
    float: left;
    margin-left: 10px;
    border: dashed 1px #979797;
}

.bilder-dropzone:first-child {
    margin-left: 0px;
}

.centerPictureFrame {
    height: 128px;      /* equals image's max-height */
    width: 128px;
    /*border: 1px solid red;*/
    white-space: nowrap;
    
    text-align: center; 
    /*margin: 1em 0;*/
}

.centerPictureHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.centerPictureImg {
    vertical-align: middle;
}

.picture-preview {
    position: relative;
    margin-left: 10px;
    float: left;
    width: 128px;
    height: 128px;
}

.picture-preview > img {
    max-width: 128px;
    max-height: 128px;
}

.picture-preview:first-child {
    margin-left: 0px;
}

.picture-preview > button {
    position: absolute;
    top: 5px; 
    right: 7px;

    border: none;
    background: transparent;
    padding: 0px;
}

.picture-preview > button:hover {
    border: none;
    background: transparent;
}

.picture-preview > button:focus, .picture-preview > button.focus {
    box-shadow: none;
}

.picture-preview > button.disabled, .picture-preview > button:disabled {
    border: none;
    background: transparent;
}

.picture-preview > button:active, .picture-preview > button.active,
.show > .picture-preview > button.dropdown-toggle {
    border: none;
    background: transparent;
    background-image: none;
}