/* Thumbnails */
.bilder-preview {
    position: relative;
    
    float: left;
    margin-right: 9px;
    margin-bottom: 18px;
}

.bilder-thumbnail {
    height: 128px;
    width: 128px;
    object-fit: cover;
}

.bilder-preview > button {
    position: absolute;
    top: 5px; 
    right: 7px;

    border: none;
    background: transparent;
    padding: 0px;
}

.bilder-preview > button:hover {
    border: none;
    background: transparent;
}

.bilder-preview > button:focus, .bilder-preview > button.focus {
    box-shadow: none;
}

.bilder-preview > button.disabled, .bilder-preview > button:disabled {
    border: none;
    background: transparent;
}

.bilder-preview > button:active, .bilder-preview > button.active,
.show > .bilder-preview > button.dropdown-toggle {
    border: none;
    background: transparent;
    background-image: none;
}

.bilder-dropzone .add.hover,
.bilder-preview > button > .del.hover {
    display: none;
}

.bilder-dropzone:hover .add,
.bilder-preview > button:hover > .del {
    display: none;
}

.bilder-dropzone:hover .add.hover,
.bilder-preview > button:hover > .del.hover {
    display: inline;
}