.step-picture-complete {
    border-bottom: solid 2px #e9e9e9;
    padding-top: 17px;
}

.step-picture-complete:first-child {
    padding-top: 30px;
}

.step-picture-complete > img {
    border-right: solid 1px #9b9b9b;
    padding-right: 6px;
    float: left;
}

.step-picture-complete > div {
    margin-left: 52px;
}

.step-picture-preview {
    margin-right: 9px;
    margin-bottom: 18px;
    float: left;
    width: 128px;
    height: 128px;

    opacity: 0.6;
    
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Do not show when map is shown */
.wizard-step-address-map .step-picture-complete {
    display: none;
}

/* mobile */
@media (max-width: 767px) {

    .step-picture-complete {
        display: none;
        /*pointer-events: none;*/
        margin: 0 14px;
    }

    .wizard-step-submit .step-picture-complete {
        display: block;
    }
    
    .step-picture-preview {
        width: 93px;
        height: 93px;
    }

}