.map-search {
    position: absolute;
    z-index: 1000;
    top: 420px;
    width: 100%;
}

.map-search-content {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.map-search-content > .address-input-group {
    border: none;
}