.map-search {
    margin-top: 80px;
    width: 100%;
    z-index: 500;
}

.map-search-content {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 14px;
}

.map-search-content > .address-input-group {
    border: none;
}

/* mobile */
@media only screen and (max-width: 500px) {

    .map-search[data-showMap="false"] {
        display: none;
    }
    
}