.map-search {
    margin-top: 40px;
    width: 100%;
    z-index: 500;
}

.map-search-content {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.map-search-content > .address-input-group {
    border: none;
}

/* mobile */
@media only screen and (max-width: 500px) {

    .map-search[data-showMap="false"] {
        display: none;
    }
    
}