.formgroupoverlaycontainer {
    height: 0px;
    width: 100%;
    z-index: -20;
}

.geoSuggestList li
{
 cursor: default;
 /*cursor: pointer;*/
}

.geoSuggestList li span:hover { background:dodgerblue }

.InputRectangle {
  width: 740px;
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #979797;
}

.Geo-Input-Adresse-Panel {
  width: 689px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #979797;
  font-family: Lato;
  font-size: 24px;
  color: #000000;
}