.message-wizard {
    position: relative;
    z-index: 400;
}

.message-container {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.message-content {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    position: relative;
}

.message-collapse-container {
    position: relative;
}

.message-collapse {
    width: 150px;
    height: 40px;
    opacity: 0.89;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    border-radius: 0px;
    border-top: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.message-collapse img.hover {
    display: none;
}

.message-collapse:active,
.message-collapse:focus,
.message-collapse:hover {
    color: transparent!important;
    border-color: transparent!important;
    background-color: #ffffff!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.message-collapse:hover img {
    display: none;
}

.message-collapse:hover img.hover {
    display: inline;
}

/* Steps */
.message-steps {
    min-height: 750px;
}


.wizard-step-map {
    display: none;
}

/* Buttons */
.wizard-next {
    margin-top: 20px;

    height: 40px;
    border-radius: 6px;
}

.wizard-next-mobile {
    margin-top: 40px;
    float: right;
    height: 40px;
    width: 120px;
    border-radius: 6px;
    display: none;
}

.wizard-previous-mobile {
    margin-top: 40px;
    float: left;
    height: 40px;
    width: 120px;
    color: #4d4d4d;
    display: none;
}

.wizard-abort {
    margin-top: 15px!important;
    height: 40px;

    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #01436a;
}

#abort-mobile {
    display: none;
    position: absolute;
    bottom: 40px;
}

/* Backdrop */
.wizard-backdrop {
    z-index: 1;
}

.modal-backdrop.in {
    filter: alpha(opacity=70);
    opacity: .7;
}

.modal-backdrop {
    background-color: rgb(215, 215, 215);
}

/* mobile */
@media (max-width: 767px) {

    .message-container {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: none;
    }

    .message-footer {
        padding: 0px 15px;
    }

    .message-steps {
        height: 100%;
        min-height: 0px;
    }

    .message-collapse-container {
        display: none;
    }
    
    .message-wizard-container:not(.wizard-step-address-map),
    .message-wizard:not(.wizard-step-address-map), 
    .message-container:not(.wizard-step-address-map) {
        height: 100%;
    }

    .message-container.collapse {
        height: 100%!important;
        display: block!important;
    }

    .wizard-step-address-map .message-container.collapse,
    .wizard-step-address .message-container.collapse {
        height: auto!important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    .wizard-step-address-map .message-content,
    .wizard-step-address .message-content {
        padding-bottom: 16px;
    }

    #next {
        display: none;
    }

    .wizard-step-address-map #next,
    .wizard-step-address #next {
        display: block;
    }
    
    #abort {
        display: none;
    }

    #abort-mobile {
        display: block;
    }

    .wizard-next-mobile {
        display: block;
    }

    .wizard-previous-mobile {
        display: block;
    }

    .wizard-step-address-map #abort,
    .wizard-step-address #abort {
        display: block;
    }
    
    .wizard-step-address-map #abort-mobile,
    .wizard-step-address #abort-mobile {
        display: none;
    }

    .wizard-step-address-map .message-container,
    .wizard-step-address .message-container {
        height: auto;
    }
}