.message-wizard {
    position: relative;
    z-index: 10;
}

.message-container {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.message-content {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.message-collapse-container {
    position: relative;
}

.message-collapse {
    width: 150px;
    height: 40px;
    opacity: 0.95;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    border-radius: 0px;
    border-top: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* Steps */
.message-steps {
    height: 750px;
}

/* Buttons */
.wizard-next {
    margin-top: 20px;

    height: 40px;
    border-radius: 6px;
}

.wizard-abort {
    margin-top: 15px!important;
    height: 40px;

    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #01436a;
}

/* Backdrop */
.wizard-backdrop {
    z-index: 1;
}

.modal-backdrop.in {
    filter: alpha(opacity=70);
    opacity: .7;
}

.modal-backdrop {
    background-color: rgb(215, 215, 215);
}

/* mobile */
@media only screen and (max-width: 500px) {

    .message-container {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: none;
    }

    .message-collapse-container {
        display: none;
    }
    
    .message-wizard-container, .message-wizard, .message-container {
        height: 100%;
    }

    .wizard-step-map {
        display: none;
    }
}