.welcome-content {
    width: 570px;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-content h1 {
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
}

.welcome-content p {
    font-family: Lato;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.welcome-content ul {
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #4a4a4a;
}